{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增用户
            </div>
            <form class="form-horizontal panel-body" method="post">
                <div class="alert alert-danger" role="alert" style="display: none">填写未完全！</div>
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="name" placeholder="姓名">
                    </div>
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" name="pwd" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年龄</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="age" placeholder="年龄">
                    </div>
                    <label class="col-sm-2 control-label">余额</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="account" placeholder="余额">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">入职时间</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="creat_time" placeholder="入职时间">
                    </div>
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="gender_id">
                            {% for item in gender_choices %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">部门</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="depart_id">
                            {% for item in depart_list %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">提 交</button>
                        <a class="btn btn-default" href="/user/list">返 回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
