{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading">用户列表</div>
    <table class="table table-bordered panel-body">
        <thead>
        <tr>
            {% for k,v in n0.0.items %}
                <th>{{ k }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for user in n0 %}
            <tr>
                {% for k,v in user.items %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>
